.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-dark);
}

.border {
  outline: 1px solid beige;
}

.play-cont-wrapper {
  display: flex;
  height: 100vh;
}

.main-wrapper {
  padding: 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
}
