.navbar-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  top: 0;
  height: 60px;
  z-index: 100;
  /* backdrop-filter: blur(2px); */
  /* outline: 1px solid red; */
}

.navbar-name {
  font-size: 24px;
  font-weight: 500;
}

.menu-icon {
  width: 20px;
  height: 20px;
  border: 1px solid orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 2px;
  position: relative;
  cursor: pointer;
}

.menu-icon-dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: orange;
}

.menu-wrapper {
  position: relative;
}

.menu-options-wrap {
  top: 150%;
  right: 0;
  /* background-color: red; */
  background-color: #272727;
  width: 100px;
  /* height: auto; */
  padding: 10px;
  position: absolute;
  transition: all 400ms cubic-bezier(0.77, 0, 0.18, 1);
  scale: 0;
  transform-origin: top right;
}

.menu-options-wrap:where([data-state="closed"]) {
  scale: 0;
  opacity: 0;
}

.menu-options-wrap:where([data-state="open"]) {
  scale: 1;
  opacity: 1;
}
