.hover-list-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.list-item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  color: white;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.list-item-wrap:hover {
  padding: 0px 30px;
  mix-blend-mode: overlay;
}

.highlight {
  position: absolute;
  top: -80px;
  content: none;
  width: 100%;
  z-index: 0;
}

.arrow-icon {
  transform: rotate(22deg);
  transition: all 0.3s ease-in-out;
}
.list-item-wrap:hover .arrow-icon {
  transform: rotate(0deg);
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
}
