.bg {
  background-color: rgb(57, 57, 57);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vb {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.container-conts {
  position: absolute;
  top: 0;
}
