.faq-section-wrap {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  /* position: relative; */
}

.faq-left {
  width: 40%;
  outline: 1px solid wheat;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  /* position: absolute; */
  top: 0;
  /* background-color: pink; */
}

.faq-right {
  width: 60%;
  padding: 0px 20px;
}

.faq-question {
  font-size: 20px;
  font-weight: 500;
  /* padding: 10px 0px; */
  padding-bottom: 10px;
}

.faq-answer {
  transition: height 350ms ease-in-out;
  padding-top: 10px;
  height: 100px;
  overflow: hidden;
}

.faq-answer:where([data-state="collapsed"]) {
  /* clip-path: inset(0 0 100% 0); */
  height: 0;
}

.faq-answer:where([data-state="expanded"]) {
  /* clip-path: inset(0 0 0 0); */
  height: auto;
}
