.play-wrap {
  width: 100%;
  min-height: 100dvh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.scrible-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--scrible-page-padding);
  backdrop-filter: blur(12px);
  /* position: sticky; */
  height: 80px;
  top: 0;
  z-index: 2000;
}

.scrible-logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.08rem;
  cursor: pointer;
}

.hero-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 160px var(--scrible-page-padding);
  background: radial-gradient(
    ellipse 100% 100% at 50% -10%,
    rgba(28, 56, 77, 0.9),
    rgba(0, 0, 0, 0)
  );
  margin-top: -80px;
}

.scrible-hero-text {
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5));
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.scrible-subheader {
  opacity: 0.7;
}

.hero-cta {
  margin-top: 60px;
  background: linear-gradient(to right, #7053ff, #f953ff);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
