.underline-footer {
  stroke-dasharray: 200;
  stroke-dashoffset: 40;
  /* animation: underline 2s ease-in; */
}
/* @keyframes underline {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
} */

.signature {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: sign 2.4s ease-out;
  transform: rotate(23deg);
  stroke: red;
}

@keyframes sign {
  from {
    stroke-dashoffset: 1000;
  }
}

.hero-header {
  font-size: clamp(42px, 6vw, 100px);
}

.shimmer-effect {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(38, 38, 38, 0.604) 25%,
    rgba(255, 255, 255, 0.2) 50%,
    rgb(255, 255, 255) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.367);
  animation: shimmer 3s infinite linear;
}

.dark .shimmer-effect {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(165, 165, 165, 0.567) 25%,
    rgba(0, 0, 0, 0.931) 50%,
    rgba(255, 0, 0, 0) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.423);
  animation: shimmer s infinite linear;
  animation-delay: 1s;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
