.loader {
  width: 100%;
  height: 20px;
}

.loader-inner {
  background-color: beige;
  content: none;
  height: 2px;
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
