.sidenav-wrap {
  width: 20vw;
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.side-nav-options-wrap {
  margin-right: 20px;
}
.nav-option {
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}
