.animated-modal-wrap {
  position: relative;
}

.modal-ctr {
  position: fixed;
  top: 101dvh;
  width: 100dvw;
  left: 0;
  z-index: 50;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px 40px 0px 0px;
  padding: 20px;
}

.modal-backdrop-blur {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  /* pointer-events: none; */
}
