.dot-background-demo {
  height: 50rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; /* Change background color to black for dark mode */
}

.gradient-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Change dot color to white */
  mask-image: radial-gradient(
    ellipse at center,
    transparent 20%,
    white
  ); /* Mask image to show white dots */
}

.text {
  font-size: 4rem;
  font-weight: bold;
  z-index: 20;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    #666666,
    #f5f5f5
  ); /* Adjust gradient colors for better visibility */
  padding: 2rem;
}
